$black-color: #000;
$white-color: #fff;
$pink-color: #ff70d9;
$yellow-color: #ebff00;
$light-blue-color: #304571;
$dark-blue-color: #0d1e48;

$large-padding: 3rem;
$small-padding: 1rem;

$posts-bg-images: (
  1: "./images/background-container-1.jpeg",
  2: "./images/background-container-2.jpeg",
  3: "./images/background-container-3.jpeg",
  4: "./images/background-container-4.jpeg",
);

@mixin flex-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

@mixin nav-link {
  color: $white-color;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  width: 100%;
  justify-content: center;
  text-align: center;
}

@mixin burger-icon {
  color: white;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 38px;
  background-image: url("./images/burger-open.svg");
}

@mixin button-default {
  background-color: $yellow-color;
  color: $black-color;
  height: 33px;
  width: 161px;
  border-radius: 17px;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

@mixin image-style($height, $width, $background, $top, $left, $bottom: null, $z-index: null) {
  height: $height;
  width: $width;
  background: $background;
  position: absolute;
  top: $top;
  left: $left;
  z-index: $z-index;
  @if $bottom {
    bottom: $bottom;
  }
}

@mixin circle-style($width, $height, $background, $top, $left, $z-index: null) {
  @include image-style($width, $height, $background, $top, $left, null, $z-index);
  border-radius: 50%;
}

@mixin rocket-image {
  height: 130px;
  width: 160px;
  background: url("./images/rocket.png") no-repeat center/contain;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.1875rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}

.container {
  @include flex-container;
}

header {
  @include flex-container;
  position: sticky;
  top: 0;
  z-index: 2;

  .nav-container {
    @include flex-container;
    flex-direction: row;
    justify-content: space-between;
    background-color: $black-color;
    padding: $small-padding $small-padding;

    .logo-container {
      display: flex;
      align-items: center;

      svg:first-child {
        margin-right: 5px;
      }
    }

    nav {
      display: none;

      a {
        @include nav-link;
      }
    }

    .icon {
      @include burger-icon;
    }

    .menu-toggle {
      display: none;
    }

    .menu-toggle:checked ~ nav {
      @include flex-container;
      position: absolute;
      background-color: $black-color;
      left: 0;
    }

    .menu-toggle:checked ~ .icon {
      background-image: url("./images/burger-close.svg");
    }

    @media screen and (min-width: 361px) {
      height: 80px;

      .menu-toggle,
      .icon {
        display: none;
      }

      nav {
        display: flex;

        .backet-btn {
          color: rgba(0, 0, 0, 0);
          background: url("./images/backet.svg") no-repeat 24px 15px;
        }

        a {
          &:hover:not(:last-child) {
            color: transparent;
            background-image: linear-gradient(to right, $yellow-color, $pink-color);
            -webkit-background-clip: text;
            background-clip: text;
          }

          &:hover:last-child {
            background: url("./images/backet-hover.svg") no-repeat 24px 15px;
          }
        }
      }
    }

    @media screen and (min-width: 769px) {
      padding: 0 $large-padding;
    }
  }
}

.hero-container {
  @include flex-container;
  background: url("./images/hero-container-backgound.jpeg") no-repeat center/cover;
  height: 451px;
  color: $white-color;
  justify-content: space-between;

  .image-container {
    position: relative;
    height: 267px;
    width: 327px;
    top: -90px;
    overflow: hidden;

    .earth {
      @include image-style(275px, 327px, url("./images/earth.png") no-repeat center/contain, -17px, null, null, 1);
    }

    .rocket {
      @include image-style(130px, 160px, url("./images/rocket.png") no-repeat center/contain, null, 60px, -30px, 1);
    }

    .yellow-circle {
      @include circle-style(
        40.22px,
        39.68px,
        linear-gradient(91.45deg, #ffc204 36.42%, rgba(255, 194, 4, 0.443605) 100%, rgba(255, 194, 4, 0) 84.45%),
        50px,
        5px,
        1
      );
    }

    .brown-cirlce {
      @include circle-style(18.22px, 18.22px, #e77e42, 190px, 35px, 1);
    }

    .white-cirlce {
      @include circle-style(9.11px, 9.11px, $white-color, 223px, 80px, 1);
    }

    .blue-shadow {
      @include circle-style(
        220px,
        220px,
        radial-gradient(circle at center, rgba(0, 255, 255, 0.2), transparent),
        30px,
        70px,
        0
      );
    }

    .orbit {
      width: 240px;
      height: 240px;
      border-radius: 50%;
      border: 1px solid #f8f8f8;
      background: transparent;
      position: absolute;
      left: 15px;
    }
  }

  article {
    @include flex-container;
    padding: 0 1rem;
    text-align: center;
    max-width: 27rem;

    h1 {
      overflow-wrap: break-word;
      line-height: 1;

      span {
        color: $pink-color;
      }
    }

    h4 {
      span {
        color: $yellow-color;
      }
    }

    button {
      @include button-default;
      margin: 1rem 0 2rem 0;
    }
  }

  @media screen and (min-width: 361px) {
    background: url("./images/hero-container-backgound.jpeg") no-repeat center/cover;
    flex-direction: row;
    height: 420px;

    article {
      order: 1;
      text-align: left;
      align-items: start;

      h1 {
        font-size: 2.5rem;
      }
    }

    .image-container {
      order: 2;
      top: 0;
    }
  }

  @media screen and (min-width: 769px) {
    padding-left: $large-padding;
  }
}

main {
  background: linear-gradient(to bottom, $dark-blue-color, $light-blue-color);
  color: $white-color;
  padding: $large-padding $small-padding;

  .posts-containter {
    display: flex;
    align-items: start;
    flex-flow: column nowrap;

    .posts {
      @include flex-container;
      align-items: center;

      article {
        @include flex-container;
        align-items: start;
        min-height: 350px;
        margin: 1rem 0;
        border-radius: 15px;
        display: flex;
        flex-flow: column nowrap;
        padding: 0 1.5rem;

        @each $index, $bg-image in $posts-bg-images {
          &:nth-child(#{$index}) {
            background: center / cover no-repeat url("#{$bg-image}");
          }
        }

        h2 {
          font-size: 1.7rem;
          padding: 5rem 0 1rem 0;
        }
        button {
          @include button-default;
          color: $yellow-color;
          background-color: rgba(0, 0, 0, 0);
          border: 2px solid $yellow-color;
          margin-top: 1rem;
        }
      }

      @media screen and (min-width: 541px) {
        flex-flow: row wrap;
        justify-content: space-between;

        article {
          flex: 1;

          &:nth-child(odd) {
            margin-right: 1rem;

            @media (min-width: 768px) {
              margin-right: 0;
            }
          }
        }
      }

      @media screen and (max-width: 768px) and (min-width: 742px) {
        article {
          min-width: 240px;
        }
      }

      @media screen and (min-width: 769px) {
        article {
          flex: 1;
          max-width: 100%;

          &:nth-child(1),
          &:nth-child(4) {
            flex-basis: 100%;
          }

          &:nth-child(2) {
            margin-right: 2rem;
          }
        }
      }
    }
  }

  .detailed-description-container {
    h3 {
      margin: 1rem 0;
    }
    article {
      opacity: 0.6;
      margin: 1rem 0;
    }
    a {
      text-decoration: none;
      color: $yellow-color;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media screen and (min-width: 769px) {
    padding: $large-padding;
  }
}

footer {
  @include flex-container;
  background-color: $black-color;
  color: $yellow-color;
  position: relative;
  padding-bottom: $small-padding;

  .rocket {
    @include rocket-image;
  }
}
